html{
	font-family: "Comic Sans MS";
}

/* HEAEDER */
header {
    background-color: #333;
	color: #555;
	position: relative;
}

	
nav.links {

}

ul.nav-head {
	list-style-type: none;
    margin: 20px;
    padding: 30px;
    overflow: hidden;
	top: 0;
}

ul.nav-head li{
	float: left;
}


a.nav-link{
	position: relative;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-decoration: none;
    transition: border-bottom 3s ease-out;
}

a:hover{
    border-bottom: 1px solid white;
}

/* Body */
body{
	background-image: url(concrete-texture.png);
}

nav.bgContainer{
	width:65%;
	text-align: center;
	height: auto;
	margin: auto
}

section{
	background-color: lightgrey;
}

/* Index.html */

h1#barangay{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: lightgrey;
	font-size: 5em;
	font-family: "Times New Roman";
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;
}

h3#cjh{
	margin: 0;
	padding-bottom: 50px;
	font-size: 4em;
	font-family: "Times New Roman";
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;
}

h2#place-cjh{
	margin: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 3em;
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;
}

p#cjh-word{
	font-size: 1.5em;
	font-style: bold;
	color: #0d0d0d;
	padding-top: 20px;
	padding-bottom: 20px;
}

p#place-word{
	font-size: 1.5em;
	font-style: bold;
	color: #0d0d0d;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Advocacy html*/

h1#history-h{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: lightgrey;
	font-size: 5em;
	font-family: "Times New Roman";
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;
}

h2#question-h{
	margin: 0;
	padding-bottom: 50px;
	font-size: 4em;
	font-family: "Times New Roman";
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;
}

h3#inclusion-h{
	margin: 0;
	padding-bottom: 50px;
	font-size: 4em;
	font-family: "Times New Roman";
	font-style: italic;
	text-shadow: 5px 5px 3px #fff;
	color: black;	
}

section#history p{
	font-size: 1.5em;
	font-style: bold;
	color: #0d0d0d;
}

p#question-word{
	font-size: 1.5em;
	font-style: bold;
	color: #0d0d0d;
	padding-bottom: 20px;
}

div#inclusion p{
	font-size: 1.5em;
	font-style: bold;
	color: #0d0d0d;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Image in index.html*/

img#ban{
	display: block;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 400px;
}

img#JCamp {
	border-radius: 5%;
	margin:auto;
	width: 800px;
	height: 400px;
	transition: transform .3s;
	box-shadow: 10px 20px 36px #888888;
}

img#JCamp:hover {
	transform: scale(1.2);
}

img#zone-guard {
	border-radius: 5%;
	margin:auto;
	width: 800px;
	height: 400px;
	transition: transform .2s;
	box-shadow: 10px 20px 36px #888888;
}

img#zone-guard:hover {
	transform: scale(1.1);
}

img#cjh-stall {
	border-radius: 5%;
	margin: auto;
	width: 800px;
	height: 400px;
	transition: transform .5s;
	box-shadow: 10px 20px 36px #888888;
}

img#cjh-stall:hover {
	transform: scale(1.2);
}

/* Advocacy image*/

img#nick{
	box-shadow: 10px 20px 36px #888888;
}

footer.container{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #333;
	color: white;
	margin: 0;
}

p.copyright {
	text-align: center;
	font-size: 25px;
	font-family: arial ;
}