header{
	position: center;
	background-color: #213603;
	text-align: center;
	font-size: 30px;
	padding-top: -20px;
	padding-bottom: 20px;
	margin-top: -100px;
	margin-left: -20px;
	margin-right: -20px;
	color: white;
	font-family:nova;


}

.logo{

	background-image: url("logo/gss.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	margin-top: 60px;
	margin-bottom: -180px;
	margin-left: -180px;
	width: 100%;
	height: 200px;
	max-width: 100%;

}

.navigation{
	text-align: center;
	background-color: #448024;
	margin-top: -22px;
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: .02%;
	padding-top: .02%;
	word-spacing: 20px;
	font-family: tahoma;

}

body{
	background-image: url("background.jpg");

}


.box{
	background-position: fixed;
	padding-top: 50px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: tahoma;


}

footer{
	background-color: black;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	margin-right: -10%;
	margin-left: -10%;
	font-family: calibri;

}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: #213603;
}

#center-button{
	text-align: center;
}

.container{
	background-position: fixed;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 30%;
	font-family: tahoma;
	font-size: 20px;

}

#center-container{
	background: url("images/green.jpg");
	padding-top: 200px;
	padding-bottom: 400px;
	margin-right: -200px;
	margin-left: -200px;
	text-align: center;

}

#center-qoute{
	color: white;
	font-family: "arial";
	font-size: 30px;
	margin-left: 500px;
	margin-right: 500px;
	background: black;
	padding-top: 50px;
	padding-bottom: 150px;


}

#button-container{
	font-size: 40px;
	margin-left: 800px;
	margin-right: 800px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -600px;
	margin-bottom: 400px;
	
}


